<div class="col-md-12">
  <div class="row margin-top-20">
    <div class="text-center">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#new-product-modal">Add new Product</button>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="new-product-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new Product</h4>
          </div>
          <form id="new-product-form">
            <div class="modal-body">
              <div class="form-group">
                <label for="new-product-title">Title:</label>
                <input type="text" class="form-control" id="new-product-title" name="new-product-title">
              </div>

              <div class="form-group">
                <label for="new-product-description">Description:</label>
                <input type="text" class="form-control" id="new-product-description" name="new-product-description">
              </div>

              <div class="form-group">
                <label>Upload Image:</label>
                <input type="file" accept=".jpg,.gif,.png" id="new-product-image" name="new-product-image" data-image-size="">
              </div>

              <div class="form-group">
                <label for="new-product-price">Price:</label>
                <input type="text" class="form-control" id="new-product-price" name="new-product-price">
              </div>

            </div>
            <div class="modal-footer">
              <div class="text-center">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <!-- Edit Modal (TODO: reuse this modal by extracting it in separate component)-->
    <div class="modal fade" id="edit-product-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new Product</h4>
          </div>
          <form id="edit-product-form">
            <div class="modal-body">
              <input type="hidden" id="edit-product-id" name="edit-product-id">
              <div class="form-group">
                <label for="edit-product-title">Title:</label>
                <input type="text" class="form-control" id="edit-product-title" name="edit-product-title">
              </div>

              <div class="form-group">
                <label for="edit-product-description">Description:</label>
                <input type="text" class="form-control" id="edit-product-description" name="edit-product-description">
              </div>

              <div class="form-group">
                <label>Upload Image:</label>
                <input type="file" accept=".jpg,.gif,.png" id="edit-product-image" name="edit-product-image" data-image-size="">
              </div>

              <div class="form-group">
                <label for="edit-product-price">Price:</label>
                <input type="text" class="form-control" id="edit-product-price" name="edit-product-price">
              </div>

            </div>
            <div class="modal-footer">
              <div class="text-center">
                <button type="text" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    {{#each products}}
      <div class="margin-top-20">

        <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="card card-block text-center">

            <div class="clearfix">
              <div class="pull-right">
                <a href="#" class="edit-product">
                  <span class="edit glyphicon glyphicon-pencil" data-toggle="modal" data-target="#edit-product-modal" data-product-id="{{id}}"></span>
                </a>
                <span class="margin-right-10"></span>
                <a href="#">
                  <span class="remove-product glyphicon glyphicon-remove" data-product-id="{{id}}"></span>
                </a>
              </div>
            </div>

            <form class="form-inline add-product-to-cart-form" data-product-id="{{id}}">
              <h4 class="card-title">{{title}}</h4>
              <p class="card-text">{{description}}</p>
              <img src="{{image}}" alt="Product image {{id}}">
              <p class="card-text">Price: {{price}}$</p>
              <div class="form-group">
                <label for="edit-product-title">Quantity:</label>
                <input type="text" class="form-control" name="cart-product-quantity">
              </div>
              <button type="submit" class="btn btn-primary margin-top-10">Add to cart</button>
            </form>
          </div>
        </div>

      </div>
    {{/each}}
  </div>

</div>